@import "settings";
@import 'foundation';
@include foundation-everything;
.background {
    background: green;
    width: 100%;
    height: auto;
    min-height: 100%;
    position: absolute;
}

.header {
    width: 250px;
    margin: auto;
    text-align: center;
    margin-top: 15px;
    color: yellow;
    font-size: 22px;
}

.location-main {
    background: yellow;
    margin: auto;
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
}

.location-description {
    width: 100%;
    margin: auto;
    padding-top: 15px;
}

.error-message {
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    color: white;
}

.new-location-form {
    width: 100%;
    margin: auto;
    margin-top: 15px;
}

.new-location-form input {
    margin: auto;
    width: 60%;
}

.new-location-form label {
    margin-bottom: 5px;
}

.form-description {
    text-align: center;
    color: red;
}

.form-button {
    background: orangered;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 30%;
    height: 40px;
    display: block;
    color: white;
    border: 1px solid blue;
}

.form-button:hover {
    background: red;
    border: 2px solid blue;
}

.distance-list {
    margin: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.clear-button {
    width: 50px;
    height: 20px;
    background: orangered;
    margin: auto;
    color: white;
    font-size: 10px;
    border: 1px solid blue;
}

.clear-button:hover {
    background: red;
    border: 2px solid blue;
}

h2 {
    font: 400 25px/1.5 Helvetica, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    font: 200 14px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 5px;
}

li:last-child {
    border: none;
}

li a {
    text-decoration: none;
    color: #000;
    display: block;
    width: 200px;
}